* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}


html,
body {
	height: 100vh;
	width: 100vw;
}


.fn {
	background-color: #fff8;
	font-family: monospace;
	padding: .6em;
	border-left: 1px solid black;
}

.number,
.string {
	margin-right: 1em;
}

*[selected='true'] {
	background-color: yellow;
}

body {
	display: grid;
	grid-template-columns: 30vw 70vw;
}

body>* {
	border: 1px solid red;
}

iframe {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vw;
	z-index: -99;
}
